/* General styling */
@font-face {
    font-family: sfui;
    src: url("sfui.woff");
}
@font-face {
    font-family: segoeui;
    src: url(segoeui.woff);
}
* {
    font-family: segoeui;
    transition: 0.4s;
	box-sizing: border-box;
}
table {
	filter:blur(0px);
}
.copyright {
    color: black;
    margin-top: 20px;
    text-align: center;
}
.bodydiv {
    visibility: visible;
}
.text-center {
    text-align: center;
}

/* Table styling */
th {
    background-color: #D0FFAA ;
    color: black;
    text-align: center;
    padding: 20px;
    border: 0,25px solid black;
}
td {
    background-color: white;
    padding: 10px;
    text-align: center
}
table {
    font-weight: lighter;
    width: 100%
}

/* Subjects styling */
.horas{
    background-color: #AABEFF ;
    font-weight: bold;
}
.iso{
    background-color: #EBFF8F;
    transition: 0.2s;
    transition-delay: 0.05s;
}
.lmsi{
    background-color: #FFA38F;
    transition: 0.2s;
    transition-delay: 0.05s;
}
.gbd{
    background-color: #F8AAFF;
    transition: 0.2s;
    transition-delay: 0.05s;
}
.fol{
    background-color: #FFDB8F;
    transition: 0.2s;
    transition-delay: 0.05s;
}
.iasir{
    background-color: #B3FF8F;
    transition: 0.2s;
    transition-delay: 0.05s;
}
.par{
    background-color: #ffaac5;
    transition: 0.2s;
    transition-delay: 0.05s;
}
.fh{
    background-color: #fda0a0;
    transition: 0.2s;
    transition-delay: 0.05s;
}
.recreo{
    background-color: #7AFFDD;
}